<%= link_to 'Home', pages_home_path %>

<%= link_to 'About', pages_about_path %>

<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Alpha blog is my first RoR project.</p>
    <%= link_to image_tag('alpha_blog_logo.jpeg') %>
  </body>
</html>