<%= link_to 'Home', pages_home_path %>

<%= link_to 'About', pages_about_path %>

<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to Alpha blog.</p>
    <%= link_to image_tag('alpha_blog_logo.jpeg') %>
  </body>
</html>